__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.venv
*.log
*.pot
*.pyc
.git
.gitignore
.dockerignore
.env
.env.*
README.md
docker-compose.yml
Dockerfile
.pytest_cache
.coverage
htmlcov
logs/
staticfiles/
media/
db.sqlite3
celerybeat-schedule
celerybeat.pid
